@model MakesViewModel
@using Microsoft.AspNetCore.Routing
@using X.PagedList.Mvc.Core;

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Vehicle Makes";
}

<h1>Vehicle Makes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "VehicleMakes", FormMethod.Get))
{
<p>
    Find: <input asp-for="Filtering.Filter" />
    <input type="hidden" asp-for="Paging.PageSize" />
    <input type="submit" value="Search" />
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new RouteValueDictionary {
                        {"Sorting.SortParameter", Model.Sorting.SortParameter == "Name" ? "name_desc" : "Name" },
                        {"Filtering.Filter", Model.Filtering.Filter },
                        {"Paging.PageSize", Model.Paging.PageSize}})
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new RouteValueDictionary {
                        {"Sorting.SortParameter", Model.Sorting.SortParameter == "Abrv" ? "abrv_desc" : "Abrv" },
                        {"Filtering.Filter", Model.Filtering.Filter },
                        {"Paging.PageSize", Model.Paging.PageSize}})
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Makes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abrv)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
@using (Html.BeginForm("Index", "VehicleMakes", FormMethod.Get))
{
    <p>
        Page size: <select asp-for="Paging.PageSize" asp-items="ViewBag.PageSize"></select>
        <input type="hidden" asp-for="Filtering.Filter" />
        <input type="submit" value="Set" />
    </p>
}
<div style="text-align:center">
    @Html.PagedListPager(Model.Makes, page => Url.Action("Index",
        new RouteValueDictionary {
            {"Paging.Page", page},
            {"Paging.PageSize", Model.Paging.PageSize},
            {"Sorting.SortParameter", Model.Sorting.SortParameter},
            {"Filtering.Filter", Model.Filtering.Filter}
        }), X.PagedList.Mvc.Core.Common.PagedListRenderOptions.ClassicPlusFirstAndLast)

    Page @(Model.Makes.PageCount < Model.Makes.PageNumber ? 0 : Model.Makes.PageNumber) of @Model.Makes.PageCount
</div>