@using Microsoft.AspNetCore.Routing
@using X.PagedList.Mvc.Core;

@model X.PagedList.IPagedList<VehicleMakeViewModel>

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Vehicle Makes";
}

<h1>Vehicle Makes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "VehicleMakes", FormMethod.Get))
{
<p>
    Find: <input value="@ViewBag.Filter.Filter" name="Filter" />
    <input type="hidden" name="PageSize" value="@ViewBag.Paging.PageSize" />
    <input type="submit" value="Search" />
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new RouteValueDictionary {
                    {"SortParameter", ViewBag.Sort.SortParameter == "Name" ? "name_desc" : "Name" },
                    {"Filter", ViewBag.Filter.Filter },
                    {"PageSize", ViewBag.Paging.PageSize} })
            </th>
            <th>
                @Html.ActionLink("Abrv", "Index", new RouteValueDictionary {
                    {"SortParameter", ViewBag.Sort.SortParameter == "Abrv" ? "abrv_desc" : "Abrv" },
                    {"Filter", ViewBag.Filter.Filter },
                    {"PageSize", ViewBag.Paging.PageSize}})
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abrv)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
@using (Html.BeginForm("Index", "VehicleMakes", FormMethod.Get))
{
<p>
    Page size: <select name="PageSize" asp-items="ViewBag.PageSize"></select>
    <input type="hidden" name="Filter" value="@ViewBag.Filter.Filter" />
    <input type="submit" value="Set" />
</p>
}
<div style="text-align:center">
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new RouteValueDictionary {
            {"Page", page},
            {"PageSize", ViewBag.Paging.PageSize},
            {"SortParameter", ViewBag.Sort.SortParameter},
            {"Filter", ViewBag.Filter.Filter}
        }), X.PagedList.Mvc.Core.Common.PagedListRenderOptions.ClassicPlusFirstAndLast)

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</div>