@using Microsoft.AspNetCore.Routing
@using X.PagedList.Mvc.Core;

@model ModelsViewModel

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Vehicle Models";
}

<h1>Vehicle Models</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@using (Html.BeginForm("Index", "VehicleModels", FormMethod.Get))
{
    <p>
        Filter by make: @Html.DropDownList("Filtering.FilterById", ViewBag.MakesSelectList as SelectList, "Show all", null)
        <input type="hidden" asp-for="Paging.PageSize" />
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new RouteValueDictionary {
                       {"Sorting.SortParameter", Model.Sorting.SortParameter == "Name" ? "name_desc" : "Name" },
                       {"Filtering.FilterById", Model.Filtering.FilterById },
                       {"Paging.PageSize", Model.Paging.PageSize}
                })
            </th>
            <th>
                @Html.ActionLink("Abrv", "Index", new RouteValueDictionary {
                        {"Sorting.SortParameter", Model.Sorting.SortParameter == "Abrv" ? "abrv_desc" : "Abrv" },
                        {"Filtering.FilterById", Model.Filtering.FilterById },
                        {"Paging.PageSize", Model.Paging.PageSize}
                })
            </th>
            <th>
                @Html.ActionLink("Make", "Index", new RouteValueDictionary {
                        {"Sorting.SortParameter", Model.Sorting.SortParameter == "Make" ? "make_desc" : "Make" },
                        {"Filtering.FilterById", Model.Filtering.FilterById },
                        {"Paging.PageSize", Model.Paging.PageSize}
                })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Models)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abrv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
@using (Html.BeginForm("Index", "VehicleModels", FormMethod.Get))
{
<p>
    Page size: <select asp-for="Paging.PageSize" asp-items="ViewBag.PageSize"></select>
    <input type="hidden" asp-for="Filtering.FilterById" />
    <input type="submit" value="Set" />
</p>
}
<div style="text-align:center">
    @Html.PagedListPager(Model.Models, page => Url.Action("Index",
        new RouteValueDictionary {
            {"Paging.Page", page},
            {"Paging.PageSize", Model.Paging.PageSize},
            {"Sorting.SortParameter", Model.Sorting.SortParameter},
            {"Filtering.FilterById", Model.Filtering.FilterById }
        }), X.PagedList.Mvc.Core.Common.PagedListRenderOptions.ClassicPlusFirstAndLast)

    Page @(Model.Models.PageCount < Model.Models.PageNumber ? 0 : Model.Models.PageNumber) of @Model.Models.PageCount
</div>